<ion-view>
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password">
      </label>
      <button ng-click="login()" class="button button-full button-dark">
       Login
      </button>
    </div>
  </ion-content>
</ion-view>
